/*
 * This file is part of {{project_name}}
 *
 * {{copyright_notice}}
 *
{{#license_notice}}
 * {{line}}
{{/license_notice}}
 */

#include "{{api_name}}.h"

/* Remove this dummy code */
void {{api_lower}}_dummy(void)
{
}
