/*
 * This file is part of {{project_name}}
 *
 * {{copyright_notice}}
 *
{{#license_notice}}
 * {{line}}
{{/license_notice}}
*/

#ifndef {{ns_upper}}_APPLICATION_ACTIONS_H
#define {{ns_upper}}_APPLICATION_ACTIONS_H

#include "{{ns_normalized}}-application.h"

G_BEGIN_DECLS

void {{ns_lower}}_application_actions_create({{ns_name}}Application *application);

G_END_DECLS

#endif /* !{{ns_upper}}_APPLICATION_ACTIONS_H */
