# {{project_name}}

{{description}}

## Dependencies

- [Meson](http://mesonbuild.com/)
- [Ninja](https://ninja-build.org/) (version 1.7 or newer)

## Installation

To configure and build the project, execute:

```
mkdir build
meson . build
ninja -C build
```

To install the tools to system directories, execute:

```
ninja -C build install
```

## Usage

## License

{{license_alias}}
