% {{executable_name}}(1)
% {{author_name}} <{{author_email}}>
% {{month}} {{day}}, {{year}}

# NAME

{{executable_name}} - {{description}}

# SYNOPSIS

 {{executable_name}} [*OPTIONS*]

# DESCRIPTION

Insert full description here.

# OPTIONS

-v, \--version
:   Display program version and exit.

-h, \--help
:   Show this help message.
