//
// This file is part of {{project_name}}
//
// {{copyright_notice}}
//
{{#license_notice}}
// {{line}}
{{/license_notice}}
//

use gtk::prelude::*;
use gio::prelude::*;
use gettextrs::gettext;

pub fn setup(application: &gtk::Application) {
    let about = gio::SimpleAction::new("about", None);
    let application_weak = application.downgrade();
    about.connect_activate(move |_, _| {
        let application = application_weak.upgrade()
            .expect("Failed to upgrade Weak");
        show_about_dialog(&application);
    });
    application.add_action(&about);
}

fn show_about_dialog(application: &gtk::Application) {
    let dialog = gtk::AboutDialog::new();
    dialog.set_authors(&["{{author_name}} <{{author_email}}>"]);
    dialog.set_comments(Some(gettext("{{description}}").as_ref()));
    dialog.set_copyright(Some("Copyright © {{year}} {{copyright_holder}}"));
    dialog.set_logo_icon_name(Some("{{app_id}}"));
    dialog.set_transient_for(application.get_active_window().as_ref());
    dialog.set_modal(true);
    dialog.connect_response(|dialog, _| {
        dialog.destroy();
    });
    dialog.show_all();
}
