//
// This file is part of {{project_name}}
//
// {{copyright_notice}}
//
{{#license_notice}}
// {{line}}
{{/license_notice}}
//

pub static GETTEXT_PACKAGE: &'static str = @GETTEXT_PACKAGE@;
pub static DATADIR: &'static str = @PACKAGE_DATADIR@;
pub static LOCALEDIR: &'static str = @LOCALEDIR@;
pub static APPLICATION_NAME: &'static str = "com.unknown.{{project_normalized}}";
