/*
 * This file is part of {{project_name}}
 *
 * {{copyright_notice}}
 *
{{#license_notice}}
 * {{line}}
{{/license_notice}}
 */

#include <stdlib.h>
#include <{{api_name}}.h>

int main(int argc, char *argv[])
{
	{{api_lower}}_dummy();
	return 0;
}
