CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
CPackConfig.cmake
CPackSourceConfig.cmake
{{project_normalized}}/{{project_normalized}}*.pc
{{project_normalized}}/{{library_lower}}*-static.a
{{project_normalized}}/{{library_lower}}*.so*
tools/{{tool_name}}
