# {{project_name}}

{{description}}

## Dependencies

- CMake (>= 3.0)

## Installation

To configure and build the project, execute:

```
mkdir build
cd build
cmake ..
```

To install the tools to system directories, execute:

```
make install
```

## Usage

## License

{{license_alias}}
