################################################################################
#
# {{project_lower}}
#
################################################################################

{{project_upper}}_VERSION = {{pkg_version}}
{{project_upper}}_SITE = {{pkg_site}}
{{project_upper}}_LICENSE = {{pkg_license}}
{{project_upper}}_LICENSE_FILES = LICENSE

$(eval $(autotools-package))
