#!/usr/bin/env python3
#
# {{project_name}} - {{description}}
#
# {{copyright_notice}}
#
{{#license_notice}}
# {{line}}
{{/license_notice}}
#

import os
import shutil
import subprocess
import sys

srcdir, destdir, mode = sys.argv[1:4]

args = ['cargo', 'build', '--manifest-path', os.path.join(srcdir, 'Cargo.toml')]
if mode == 'release':
    args.append('--release')

subprocess.check_call(args, env=dict(os.environ,
                                     CARGO_HOME=os.path.join(srcdir, 'target',
                                                             'cargo-home')))

shutil.copy(os.path.join(srcdir, 'target', mode, '{{executable_name}}'), destdir)
