#!/bin/sh
#
# {{project_name}} - {{description}}
#
# {{copyright_notice}}
#
{{#license_notice}}
# {{line}}
{{/license_notice}}
#

set -e

NAME=$1
ROOTDIR="${MESON_BUILD_ROOT}"
DISTDIR="${ROOTDIR}/custom-dist"
DESTDIR="${DISTDIR}/${NAME}"
TARBALL="${NAME}.tar.xz"

cd "${MESON_SOURCE_ROOT}"
mkdir -p "${DESTDIR}"

echo "Copying sources..."

cp AUTHORS "${DESTDIR}"
cp README.md "${DESTDIR}"
cp Cargo.toml "${DESTDIR}"
cp Cargo.lock "${DESTDIR}"
cp meson.build "${DESTDIR}"
cp meson_options.txt "${DESTDIR}"

cp -rf man "${DESTDIR}"
cp -rf build-aux "${DESTDIR}"
cp -rf src "${DESTDIR}"
cp -rf shell-completion "${DESTDIR}"

echo "Vendoring crates..."

cargo vendor -q
cp -rf vendor "${DESTDIR}"

mkdir -p "${DESTDIR}/.cargo"

cat <<EOF >"${DESTDIR}/.cargo/config"
[source.crates-io]
replace-with = "vendored-sources"

[source.vendored-sources]
directory = "vendor"
EOF

echo "Generating tarball..."

cd "${DISTDIR}"
tar -cJf "${TARBALL}" "${NAME}"

sha256sum "${TARBALL}" > "${TARBALL}.sha256sum"

echo "Generated ${DISTDIR}/${TARBALL}"
