/*
 * This file is part of {{project_name}}
 *
 * {{copyright_notice}}
 *
{{#license_notice}}
 * {{line}}
{{/license_notice}}
 */

#ifndef {{api_upper}}_H
#define {{api_upper}}_H

/**
 * @file {{api_name}}.h
 * @brief API for {{project_name}}
 */

/**
 * @mainpage
 *
 * Insert description here
 */

/* Remove this dummy code */
/**
 * @brief Dummy function
 */
void {{api_lower}}_dummy(void);

#endif /* {{api_upper}}_H */
