prefix=@CMAKE_INSTALL_PREFIX@
exec_prefix=${prefix}
libdir=${prefix}/lib
includedir=${prefix}/include
apiversion=@{{api_upper}}_API_VERSION@

Name: {{project_name}}
Description: {{description}}
Version: @VERSION@
Requires:
Libs: -L${libdir} -l{{link_name}}-${apiversion}
Cflags: -I${includedir} -I${includedir}/{{project_normalized}}-${apiversion}/
