===================
{{executable_name}}
===================

-----------------------------
{{description}}
-----------------------------

:Author: {{author_name}} <{{author_email}}>
:Copyright: {{year}} {{author_name}}
:Manual section: 1

SYNOPSIS
========

{{executable_name}} [OPTIONS]

DESCRIPTION
===========

Insert full description here.

OPTIONS
=======

-v, --version   display program version and exit
