#!/usr/bin/env python3
# -*- coding: utf-8 -*-
#
# This file is part of {{project_name}}
#
# {{copyright_notice}}
#
{{#license_notice}}
# {{line}}
{{/license_notice}}

import os
import argparse

__version__ = "0.1.1"

if __name__ == '__main__':
    parser = argparse.ArgumentParser()
    parser.add_argument('-v', '--version',
                        action='version',
                        version=__version__)

    # Insert the program options here

    args = parser.parse_args()

    # Insert code here

# vim: ts=4 sw=4 sts=4 et ai
