[Desktop Entry]
Name={{project_name}}
Comment={{description}}
TryExec={{executable_name}}
Exec={{executable_name}}
StartupNotify=true
Terminal=false
Type=Application
Icon={{app_id}}
Categories=GTK;Utility
