//
// This file is part of {{project_name}}
//
// Author:{{author_name}} <{{author_email}}>
//
{{#license}}
// {{line}}
{{/license}}

using System;

public class {{executable_camel}}
{
    public static int Main(string[] args)
    {
        return 0;
    }
}
