<?xml version="1.0" encoding="UTF-8"?>
<!-- {{author_name}} {{copyright_year}} <{{author_email}}> -->
<component type="desktop-application">
  <id>@app-id@</id>
  <metadata_license>CC0</metadata_license>
  <project_license>{{license}}</project_license>
  <name>{{project_name}}</name>
  <summary>{{description}}</summary>
  <description>
      <p>Please insert a description here</p>
  </description>
  <url type="homepage">{{homepage}}</url>
  <url type="bugtracker">{{bugtracker}}</url>
  <content_rating type="oars-1.0" />
  <releases>
    <release version="0.1.1" date="2023-11-19" />
  </releases>
  <developer_name>{{author_name}}</developer_name>
  <update_contact>{{author_email}}</update_contact>
  <translation type="gettext">@gettext-package@</translation>
  <launchable type="desktop-id">@app-id@.desktop</launchable>
</component>
