# {{project_name}}

{{description}}

## Dependencies

- GNU autoconf
- GNU automake
- GNU libtool
- GNU gettext
- pkg-config

## Installation

To configure and build the project from this repository, execute:

```
./autogen.sh
make
```

To install the tools to system directories, execute:

```
make install
```

## Usage

## License

{{license_alias}}
