//
// This file is part of {{project_name}}
//
// {{copyright_notice}}
//
{{#license_notice}}
// {{line}}
{{/license_notice}}
//

use clap::{Arg, App};

pub fn build_cli() -> App<'static, 'static> {
    App::new("{{project_name}}")
        .version(crate_version!())
        .about(crate_description!())
        .author(crate_authors!())
        // Insert arguments here
}
