===================
{{executable_name}}
===================

-----------------------------
{{description}}
-----------------------------

:Author: {{author_name}} <{{author_email}}>
:Copyright: {{year}} {{author_name}}
:Manual section: 1

SYNOPSIS
========

{{executable_name}} [OPTIONS]

DESCRIPTION
===========

Insert full description here.

OPTIONS
=======

-v, --version   display program version and exit
-D, --debug     show debug messages

ENVIRONMENT VARIABLES
=====================

Setting the following environment variables may alter the behavior of
`{{executable_name}}(1)`:

- {{library_upper}}_LOG: logging level (DEBUG, WARNING)
- {{library_upper}}_SHOW_STACK_TRACES: if set, show Python stack trace on error.
