/*
 * This file is part of {{project_name}}
 *
 * {{copyright_notice}}
 *
{{#license_notice}}
 * {{line}}
{{/license_notice}}
 */

#include <stdlib.h>

int main(int argc, char *argv[])
{
	return 0;
}
