//
// This file is part of {{project_name}}
//
// {{copyright_notice}}
//
{{#license_notice}}
// {{line}}
{{/license_notice}}
//

#[macro_export]
macro_rules! eprintln {
    ($($arg:tt)*) => {
        use std::io::prelude::*;
        match writeln!(&mut ::std::io::stderr(), $($arg)* ) {
            Ok(_) => {},
            Err(e) => panic!("Unable to write to stderr: {}", e),
        }
    }
}

#[macro_export]
macro_rules! die {
    ($code: expr, $($args:tt)*) => {
        println!($($args)*);
        process::exit($code);
    }
}
