# -*- coding: utf-8 -*-
#
# This file is part of {{project_name}}
#
# {{copyright_notice}}
#
{{#license_notice}}
# {{line}}
{{/license_notice}}

"""
   {{library_lower}}
   `````````````````

   Insert description here

   :copyright: (C) {{year}} {{copyright_holder}}
   :license: {{license_alias}}
"""

__docformat__ = 'restructuredtext en'
__version__ = '0.1.1'

# vim: ts=4 sw=4 sts=4 et ai
