# -*- coding: utf-8 -*-
#
# This file is part of {{project_name}}
#
# {{copyright_notice}}
#
{{#license_notice}}
# {{line}}
{{/license_notice}}

import os
import argparse
from {{library_lower}} import __version__
from {{library_lower}}.utils import setup_i18n
from gettext import gettext as _

setup_i18n()


def main():
    parser = argparse.ArgumentParser()
    parser.add_argument('-v', '--version',
                        action='version',
                        version=__version__)

    # Insert the program options here

    args = parser.parse_args()

    # Insert code here

# vim: ts=4 sw=4 sts=4 et ai
