//
// This file is part of {{project_name}}
//
// {{copyright_notice}}
//
{{#license_notice}}
// {{line}}
{{/license_notice}}
//

#[macro_use]
extern crate error_chain;
#[macro_use]
extern crate clap;
#[macro_use]
extern crate log;
extern crate loggerv;

#[macro_use]
mod {{library_lower}};
mod cli;

error_chain! {
    foreign_links {
        Log(::log::SetLoggerError) #[doc="Logging configuration error"];
    }
}

fn run() -> Result<()> {
    let matches = cli::build_cli().get_matches();

    loggerv::Logger::new()
        .verbosity(matches.occurrences_of("v"))
        .level(true)
        .module_path(false)
        .init()?;

     // Insert code here

     Ok(())
}

quick_main!(run);
