src/main.c
src/meson.build
src/{{ns_normalized}}-application-actions.c
src/{{ns_normalized}}-application-actions.h
src/{{ns_normalized}}-application.c
src/{{ns_normalized}}-application.h
src/{{ns_normalized}}-application-window.c
src/{{ns_normalized}}-application-window.h
src/{{ns_normalized}}-header-bar.c
src/{{ns_normalized}}-header-bar.h

data/gtk/menus.ui
