#!/usr/bin/env python3
# -*- coding: utf-8 -*-
#
# This file is part of {{project_name}}
#
# {{copyright_notice}}
#
{{#license_notice}}
# {{line}}
{{/license_notice}}

from setuptools import setup, find_packages
from disthelpers import extract_messages, init_catalog, update_catalog
from disthelpers import build, build_catalog, build_man
import glob
import fnmatch
import os
import {{library_lower}}

setup(name='{{project_normalized}}',
      version={{library_lower}}.__version__,
      description='{{description}}',
      long_description='''
      Here a longer description here
      ''',
      license='GPLv3',
      url='https://some.url/',
      platforms=['Any'],
      keywords=[],
      install_requires=[],
      classifiers=[
          'Development Status :: 3 - Alpha',
          'Programming Language :: Python :: 3',
      ],
      packages=find_packages(),
      scripts=['scripts/{{executable_name}}'],
      data_files=[],
      include_package_data=True,
      author='{{author_name}}',
      author_email='{{author_email}}',
      cmdclass={'build': build,
                'build_man': build_man,
                'extract_messages': extract_messages,
                'init_catalog': init_catalog,
                'update_catalog': update_catalog,
                'build_catalog': build_catalog})

# vim: ts=4 sts=4 sw=4 sta et ai
