[package]
name = "{{executable_name}}"
version = "0.1.1"
authors = ["{{author_name}} <{{author_email}}>"]
license = "{{license_alias}}"
homepage = "{{homepage}}"
description = """
{{description}}
"""

[dependencies]
clap = "2.19"
