# {{project_name}}

{{description}}

### Requirements

- [Meson](http://mesonbuild.com/)
- [Ninja](https://ninja-build.org/) (version 1.7 or newer)
- [Rust](https://rust-lang.org)

## Installation

To configure and build the project, execute:

```sh
mkdir _build
meson setup --buildtype=release . _build
meson compile -C _build
```

To install the tools to system directories, execute:

```sh
meson install -C _build
```

To install to a specific directory (e.g. ``$HOME/.local``), add
``--prefix=$HOME/.local`` to ``meson setup`` command.

## Packaging

To distribute this application using [Flatpak](https://flatpak.org/), execute:

```sh
flatpak remote-add --user --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo
flatpak-builder --user _flatpak build-aux/com.{{company_name}}.{{project_normalized}}.Devel.json
```

## License

This project is primarily distributed under the terms of the {{license_alias}} license.

See {{license_file}} for details.
